/*******************************************************************
	forms
********************************************************************/

//search
.search {
  &-inner {
    position: relative;
    width: 100%;
    height: 80px;
    padding: 17px 40px;
    border-bottom: 1px solid $black-16;
    label {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 28px;
      left: 53px;
      background: url(../images/icon/ico_search.svg) no-repeat 0 0;
      background-size: 100%;
      .search-icon {
        //웹접근성 고려하여 텍스트 숨기기
        overflow: hidden;
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        clip: rect(0, 0, 0, 0);
      }
    }
    .search-input {
      width: 100%;
      padding: 14px 45px;
      border: 1px solid $white;
      border-radius: 40px;
      background: $black-16;
      @include font(16px, $white);
      &::placeholder {
        color: $white-disabled;
      }
    }
  }
  @media screen and (max-width: 800px) {
    &-inner {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 1000;
      /* background-color: var(--blackAlpha400); */
      backdrop-filter: blur(10px);
      padding: 17px 20px 17px 200px;
      label {
        left: 213px;
      }
      .search-input {
        padding: 14px 14px 14px 45px;
      }
    }
  }
}


//swiper
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0 !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: #fff !important;
  font-size: 30px !important;
}
.swiper-pagination-bullet {
  background-color: #fff !important;
}
.swiper-button-next {
  background-color: #00000069;
  right: 0 !important;
  top: 40% !important;
}
.swiper-button-prev {
  background-color: #00000069;
  left: 0 !important;
  top: 40% !important;
}
.video__slider .swiper-button-next {
  top: 50% !important;
}
.video__slider .swiper-button-prev {
  top: 50% !important;
}


//로딩
// .isLoading {
// 	opacity: 0;
// 	transition: opacity 0.5s;
// }
// .isLoaded {
// 	opacity: 1;
// 	transition: opacity 0.5s; 
// }

// form
// input
// filter
// align
// check box
// radio box
// select box
// textarea
// Tab
// paging
// tooltip
// chip
// text
// font color
// 필수
