/*******************************************************************
	Layout
********************************************************************/

body {
  background: $black;
  color: $white;
}

//섹션공통
section {
  padding: 40px;
  h2 {
    @include font(1.25rem);
    margin-bottom: 1rem;
  }
  @media (max-width: 800px) {
    padding: 20px;
    &.developerPage{
      h2{
        display: none;
      }
    }
  }
}

#header {
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid $black-16;
  background: $black;
  @media screen and (max-width: 800px){
    left: -260px;
    transition: left 0.3s;
  }
}
.header {
  &-logo {
    border-bottom: 1px solid $black-16;
    a {
      display: flex;
      margin: 10px;
      padding: 10px;

      em {
        display: block;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        background: $primary-disabled;
        animation: ani 20s 20s ease-in-out infinite;
      }
      span {
        @include font(20px, $white);
        font-weight: 900;
        line-height: 1;
        text-transform: uppercase; //대문자
      }
    }
  }
  &-menu {
    padding: 10px;
    .menu {
      border-bottom: 1px solid $black-16;
      > li {
        margin-bottom: 5px;
        > a {
          display: block;
          margin: 10px;
          padding: 15px 15px;
          transition: all 0.3s;
          opacity: 0.7;
          @include font(calcRem(16px), $white);

          &:hover {
            background-color: $black-16;
            opacity: 1;
          }
        }
        &.active {
          a {
            background-color: $black-16;
            color: $white;
          }
        }
      }
    }
    .keyword {
      padding: 10px;

      > li {
        display: inline-block;
        margin: 3px 1px;
        border: 1px solid $black-3d;
        border-radius: 40px;

        > a {
          display: block;
          padding: 5px 15px;
          border-radius: 40px;
          @include font(14px, $white);

          &:hover {
            background: $white-disabled;
          }
        }

        &.active {
          a {
            background: $black-3d;
          }
        }
      }
    }
  }
  &-sns {
    backdrop-filter: blur(10px);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    > ul {
      display: flex;
      gap: 25px;

      > li {
        > a {
          display: block;

          svg {
            width: 25px;
            height: 25px;
            color: $white;
          }
        }
      }
    }
  }
  @media screen and (max-width: 800px){
    &-logo{
      border-bottom: 0;
      position: fixed;
      top: 0;
      left: 0;
    }
    &-sns{
      display: none;
    }
  }
}

#main {
  // max-width: 2000px;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  padding-left: 260px;
  @media screen and (max-width: 800px){
    padding-left: 0;
  }
}

#footer {
  width: calc(100% - 260px);
  margin-left: 260px;
  padding: 20px;
  background-color: $black-16;
  text-align: center;
  @include font(0.8rem, $white-015);
  @media screen and (max-width: 800px){
    width: 100%;
    margin-left: 0;
  }
}

//today 컨텐츠
.today {
  &-inner {
    display: flex;
    margin-bottom: 3.125rem; //50px
    background: $black-16;
    .thumb {
      width: 40%;
    }
    .txt {
      width: 60%;
      padding: 2rem;
      .chip {
        display: inline-block;
        margin-bottom: 10px;
        padding: 2px 50px;
        border-radius: 20px;
        background: $primary-disabled;
      }
      .tit {
        @include font(2rem);
      }
      .desc {
        margin: 1rem 0;
        color: $white;
        opacity: 0.8;
        @include ellipsis_4;
      }
      .info {
        .author {
          margin-right: 10px;
          @include font(1rem);
          font-weight: bold;
          text-decoration: underline;
          text-underline-position: under;
          text-transform: uppercase;
        }
        .date {
          @include font(0.8rem, $white);
          opacity: 0.8;
        }
      }
    }
  }
  @media screen and (max-width: 1700px) {
    &-inner {
      .thumb {
        width: 500px;
      }
      .txt {
        width: calc(100% - 500px);
        .desc {
          @include ellipsis_2;
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    &-inner {
      flex-direction: column;
      .thumb {
        width: 100%;
      }
      .txt {
        width: 100%;
        .tit {
          font-size: 24px;
          margin-bottom: 1rem;
        }
        .desc {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  #todayPage,
  .today {
    margin-top: 80px;
  }
}

//Develper 컨텐츠
.developer{
  &-inner{
    display: flex;
    flex-wrap: wrap;
    &.overflow{
      width: 100%;
      height: 200px;
      overflow: hidden;
    }
    .profile{
      margin-right: 20px;
      .img{
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50%;
      }
      .info{
        width: 150px;
        text-align: center;
        padding: 10px 0 40px;
        @include ellipsis;
        white-space: nowrap;
      }
    }
  }
  @media screen and (max-width: 1200px){
    &-inner{
      justify-content: center;
      .profile{
        margin-right: 0;
        .img{
          width: 130px;
          height: 130px;
          margin: 10px auto;
        }
      }
    }
  }
  @media screen and (max-width: 800px){
    &-inner{
      margin-top: 70px;
    }
  }
}

//header-logo 애니메이션
@keyframes ani {
  0% {
    transform: rotate(0) scale(1);
    border-radius: 0;
  }

  50% {
    transform: rotate(720deg) scale(0.5);
    border-radius: 20px;
  }

  100% {
    transform: rotate(0) scale(1);
    border-radius: 0;
  }
}

//마우스 오버 아이콘
.play-icon {
  a {
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    //어두운화면
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $black;
      opacity: 0.4;
      transition: 0.3s;
    }
    //재생버튼
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 80px;
      height: 80px;
      background: $black url(../images/icon/ico_play.svg) no-repeat center;
      border-radius: 50%;
      opacity: 0;
    }
    &:hover::before {
      opacity: 0;
    }
    &:hover::after {
      opacity: 1;
      transition: opacity 0.3s;
    }
  }
}




// login
// 메인 페이지
// error
// common
