/*******************************************************************
	Layout
********************************************************************/

body{
	background: $black;
	color: $white;
}

#header {
	z-index: 9999;
	position: fixed;
	left: 0;
	top: 0;
	width: 260px;
	height: 100%;
	overflow-y: auto;
	border-right: 1px solid $black-16;
	// background: $;
}
.header{
	&-logo{
		border-bottom: 1px solid $black-16;
		a{
			display: flex;
			margin: 10px;
			padding: 10px;
			em{
				display: block;
				width: 40px;
				height: 40px;
				margin-right: 10px;
				background: $primary-disabled;
				animation: ani 20s 20s ease-in-out infinite;
			}
			span{
				@include font(20px, $white);
				font-weight: 900;
				line-height: 1;
				text-transform: uppercase; //대문자
			}
		}
	}
	&-menu{
		padding: 10px;
		.menu{
			border-bottom: 1px solid $black-16;
			> li{
				margin-bottom: 5px;
				> a{
					display: block;
					margin: 10px;
					padding: 15px 15px;
					transition: all 0.3s;
					@include font(calcRem(16px), $white-disabled);
					&:hover {
						background-color: $black-16;
						color: $white;
					}	
				}
				&.active {
					a{
						background-color: $black-16;
						color: $white;
					}
				}
			}
		}
		.keyword{
			padding: 10px;
			> li{
				display: inline-block;
				margin: 3px 1px;
				border: 1px solid $black-3d;
				border-radius: 40px;
				> a{
					display: block;
					padding: 5px 15px;
					border-radius: 40px;
					@include font(14px, $white);
					&:hover{
						background: $white-disabled;
					}
				}
				&.active{
					a{
						background: $black-3d;
					}
				}
			}
		}
	}
	&-sns{
		backdrop-filter: blur(10px);
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		> ul{
			display: flex;
			gap: 25px;
			> li{
				> a{
					display: block;
					svg {
						width: 25px;
						height: 25px;
						color: $white;
					}
				}
			}
		}
	}
}
#main {
	// max-width: 2000px;
	min-height: 100vh;
	height: 100%;
	margin: 0 auto;
	padding-left: 260px;
}
#footer {
	width: calc(100% - 260px);
	margin-left: 260px;
	padding: 20px;
	background-color: $black-16;
	text-align: center;
	@include font(0.8rem, $white-015);
} 

//header-logo 애니메이션
@keyframes ani {
	0% {
			transform: rotate(0) scale(1);
			border-radius: 0;
	}
	50% {
			transform: rotate(720deg) scale(0.5);
			border-radius: 20px;
	}
	100% {
			transform: rotate(0) scale(1);
			border-radius: 0;
	}
}

























// login
// 메인 페이지
// error
// common